* {
    border: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    background-color: #557a95;
    color: #b1a296;
    border-bottom: #b1a296 3px solid;
}

nav {
    width: 25%;
    position: relative;
    right: 2%; 
}

nav ul {
    display: flex;
    justify-content: space-between;  
}

nav li {
    display: inline;
    margin: 3%;
    font-family: Dosis;
    font-size: 130%;
    border: 1px solid #b1a296;
    padding: 2%;
}

h1 {
    font-family: "Playfair Display";
    font-size: 300%;
    font-weight: 350;
    position: relative;
    left: 1.5%;
    border-bottom: #b1a296 1px solid;
    border-right: #b1a296 3px solid;
    padding-right: 3%;
}

main {
    background-color: #7ea3bd;
    display: flex;
}

#about-projects {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    padding-top: 3%;
    font-family: Dosis;
    color: #404042;
}

p {
    font-size: 130%;
    margin-right: 5%;
}

h2 {
    border-bottom: 2px solid #b1a296;
    width: 20%;
}

img {
    border-radius: 6%;
    border: 2px solid #b1a296;
}

@media only screen and (max-width: 1300px) {
    #banner {
        justify-content: space-around;
    }

    h1 {
        left: -7%;
    }

}

@media only screen and (max-width: 960px) {
    h1 {
        font-size: 150%;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        font-size: 100%;
    }

    img {
        height: 25%;
        width: 25%;
    }
}

@media only screen and (max-width: 425px) {
    h1 {
        font-size: 130%;
    }
    
    #banner {
        justify-content: center;
    }
}